<div class="item steps" id="steps{{testIndex}}-{{taskIndex}}-{{stepsIndex}}">
    <div class="right floated content">
        <i class="close icon"></i> 
    </div>
    <div class="stepstext" id="stepstext{{testIndex}}-{{taskIndex}}-{{stepsIndex}}">
        Steps {{stepsIndex}} 
    </div>
</div>
